ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #f1f1f1;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
  }

  ul::-webkit-scrollbar-thumb {
    background: #787276;
    border-radius: 10px;
  }

  ul::-webkit-scrollbar {
    width: 6px;
  }